<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" href="/images/co.ico" type="image/x-icon">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>

  
  <title>THE 303 BOX | Local Subscription Box </title>
</head>

<body>
  {{{body}}}


<script src="./js/script.js"></script>
<script src="./js/database.js"></script>

</body>

</html>