<div id="home">
  <div id="gallery">
  <img class="photo" id="col-gallery" src="https://i.imgur.com/vxKKHz3.jpg" alt="">

</div>  

<div class="container3 whitebox">
    <div class="jumbotron mt-4">
        <h1 class="display-4 text-center">Thank you for your order!
        </h1>
    </div>
    <div id="logout"><button>Logout</button></div>
    <a href="/test">Dashboard</a>
</div>