<div class="container3">
    <div class="jumbotron mt-4">
        <h1 class="display-4 text-center">Thank you for your order!
        </h1>
    </div>
    <div id="logout"><button>Logout</button></div>
    <div id="dashboard"><button>Dashboard</button></div>
</div>