<!DOCTYPE html>
<html lang="en-us">

<head>
  <!--Firebase-->
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center"> You made it to the home page!
    </h1>
    <a href="/">This should be for signout but it just goes back to login</a>
  </div>
</div>


<script type="text/javascript">
    firebase.auth().signInWithEmailAndPassword(email, password)
        .then(function(user){
            console.log("Logged in as: " + user)
        })
        .catch(function(err){
            console.log(err)
        })
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/database.js"></script>