
<!DOCTYPE html>
<html lang="en-us">

<head>
    <link rel="stylesheet" type= "text/css" href="../public/css/style.css">
  <!--Firebase-->
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<div id="home">
  <div id="gallery">
  <img class="photo" id="img-gallery" src="" alt="">
  <img class="photo hide" id="load-logo" src="" alt="">

</div>  



  <div class="container show" id="loginpage">
    <div class="row" id="loginrow">

      <div class="col-8 offset-2">

        <form class="clearfix mb-4" id="form" action=""> <!--Put POST back here later-->

          <img id="whitelogo" src="https://i.imgur.com/SwBO2oi.png">
          <div class="form-group">
            <label for="login">LOGIN</label>
            <input type="text" id="login" class="email-input form-control" aria-describedby="login" placeholder="Enter Login">
          </div>
          <div class="form-group">
            <label for="password">PASSWORD</label>
            <input type="password" id="password" class="password form-control" aria-describedby="password" placeholder="Enter Password"></textarea>
          </div>
          <button id="submit" class="log-in btn btn-primary float-right">Login</button>
        </form>
        <a class="signuplink" href = "/signup">Need an membership?</a>
        <br>
        <a id="modalbtn" class="signuplink">What is THE 303 BOX?</a>


<!-- Modal -->
<div class="modal fade" id="myInput" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">ABOUT THE 303 BOX</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>THE 303 BOX is a monthly subscription box based out of Denver, CO.</p> 

<p>Offering a selection of items essential to the area, members receive an assortment of apparel, gear, and treats curated to their preferences. At THE 303 BOX we allow our members to either customize their selection prior to shipment or allow one of our local specialist to surprise you with their recommended selection.</p>

<p>COMING SOON:</p>

<p>THE 415 BOX : San Francisco</p>

<p>THE 206 BOX : Seattle</p>

<p>THE 312 BOX : Chicago</p>

<p>THE 202 BOX : Washington DC </p>

<img id="comingsoon" src="https://i.imgur.com/B2mheM7.png">



<p>THE 303 BOX was created by University of Denver Full Stack Development students Hanmi Moon, Reid Zuckerman, and Leonardo Silva.</p>

<p>© 2019</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>


<script>
  // Modal 
$('#modalbtn').on('click', function () {
    console.log("hey")
    $('#myInput').modal('toggle')
  })
</script>