<div id="home">
  <div id="gallery">
  <img class="photo" id="col-gallery" src="https://i.imgur.com/vxKKHz3.jpg" alt="">

</div>  


<div class="container3 whitebox">
    
        <h1 class="display-4 text-center">Thank you for subscribing!</h1>

        <br>
        <h3>Here is a preview of your package:</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Patagonia</li>
                        <li>Nalgene</li>
                        <li>14er</li>
                        <li>Local Bumper Stickers</li>
                        <li>Fixie Bikes</li>
                        <li>Beanie</li>
                        <li>Hiking Leash for Dogs</li>
                        <li>Collapsible Water Bowls</li>
                        <li>Golden Retriever Puppy</li>
                        <li>Subaru Outback</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Broncos Gear</li>
                        <li>Camelpak</li>
                        <li>Gold Nugget</li>
                        <li>A Pair of Skis</li>
                        <li>Edibles</li>
                        <li>Meal Voucher to Casa Bonita</li>
                        <li>A Tow</li>
                        <li>Sun Screen Dispenser</li>
                        <li>Donation to the Wild Life Foundation</li>
                        <li>Coors Memorabilia</li>
                    </ul>
                </div>
            </div>
            <div id="confirm"><button>Confirm</button></div>
        </div>
            <div id="logout"><button>Logout</button></div>
    
    </div>