<div id="home">
  <div id="gallery">
  <img class="photo" id="col-gallery" src="https://i.imgur.com/vxKKHz3.jpg" alt="">

</div>  


<div class="container3 whitebox">
    
        <h1 class="display-4 text-center">Thank you for subscribing!</h1>

        <br>
        <h3>Here is a preview of your package:</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>patagonia</li>
                        <li>nalgene</li>
                        <li>4er</li>
                        <li>bumper stickers</li>
                        <li>fixie bikes</li>
                        <li>beanies/flat billed hats</li>
                        <li>hiking leash for dogs</li>
                        <li>collapsable water bowls</li>
                        <li>goldnen retriever puppy</li>
                        <li>Subaru Outback</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>broncos gear</li>
                        <li>camel backs</li>
                        <li>gold nugget</li>
                        <li>skis</li>
                        <li>edibles</li>
                        <li>meal voucher to casa bonita</li>
                        <li>free tow</li>
                        <li>sun screen dispenser</li>
                        <li>donation to the wild life foundation</li>
                        <li>coors memorabilia</li>
                    </ul>
                </div>
            </div>
            <a href="/confirm">Confirm</a>
        </div>
                <a href="/">Back To Home!(Logout)</a>
    
    </div>