<!DOCTYPE html>
<html lang="en-us">

<head>
  <!--Firebase-->
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
  <!--Database JS-->
  {{!-- <script src="jquery.min.js"><{{!}}/script> --}}
</head>

</html>
<div id="signup">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Sign Up For Subscription Box</h2>
        <form class="clearfix mb-4" action="">
          <div class="form-group">
            <label for="new-login">Email</label>
            <input type="text" id="new-login" class="sign-up-email email-input form-control" aria-describedby="login" placeholder="Enter Your Email">
          </div>
          <div class="form-group">
            <label for="new-password">Password</label>
            <input type="text" id="new-password" class="sign-up-password password form-control" aria-describedby="password" placeholder="Enter Your Password"></textarea>
          </div>
          <button id="sign-up-btn" class="sign-up-button btn btn-primary float-right">Sign up</button>
        </form>      
        <a href = "/">Already have an account? Click here.</a>
      </div>
    </div>
  </div>
</div>


{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/script.js"></script>
<script src="./js/database.js"></script> --}}

</html>