<div class="container3">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">Your past packages:
    </h1>
    <div id="logout"><button>Logout</button></div>
  </div>
  <div>
    <ul id="post-list" class="list-group">
      {{#each posts}}
      <li data-id="{{this.id}}" class="list-group-item">
        <a href="post/{{this.id}}">{{this.text}}</a>
      </li>
      {{/each}}
    </ul>
    <button class="test-btn">Submit</button>
    </p>
  </div>
</div>